# 문제 1

In [15]:
# 1-1) 본인의 이름, email이 반영된 dictionary 만든 후 출력 (나머지 정보는 임의로)
contacts = {'유지민' : { 'cell' : '010-9936-4524', 'email' : 'dbwlals9936@naver.com'},
           '유하연' : { 'cell' : '010-8072-4524', 'email' : 'hayeon1220@naver.com'}}
print(contacts)

{'유지민': {'cell': '010-9936-4524', 'email': 'dbwlals9936@naver.com'}, '유하연': {'cell': '010-8072-4524', 'email': 'hayeon1220@naver.com'}}

In [16]:
# 1-2) 'contacts' dictionary 에 있는 모든 이름 출력
for i in contacts:
    print(i)

유지민
유하연

In [17]:
# 1-3) 'contacts' dictionary를 사용하여 아래와 같이 출력 (단, for, .format, indexing 사용)
for name in contacts:
    print("{}'s contact information".format(name))
    print(" ",contacts[name]['cell'])
    print(" ",contacts[name]['email'])

유지민's contact information
  010-9936-4524
  dbwlals9936@naver.com
유하연's contact information
  010-8072-4524
  hayeon1220@naver.com

# 문제 2

In [18]:
# 2-1) 본인의 이름이 반영 된 list 만든 후 출력
data = ['유재원', '김혜진', '유지민', '유하연', '유밤비', 1, 2, 3, 4, 5]
print(data)

['유재원', '김혜진', '유지민', '유하연', '유밤비', 1, 2, 3, 4, 5]

In [19]:
# 2-2) 본인 이름의 index 출력
self = data.index('유지민')
print(self)

2

In [20]:
# 2-3) 위 list에 새로운 이름 "tOny" 추가
data.append('tOny')
print(data) #추가되었는지 확인

['유재원', '김혜진', '유지민', '유하연', '유밤비', 1, 2, 3, 4, 5, 'tOny']

In [21]:
# 2-4) "tOny"의 첫 문자만 대문자로 출력
appendMem = 'tOny'
print(appendMem.capitalize())

# 2-5) "tOny" 대문자로 출력
print(appendMem.upper())

# 2-6) "tOny" 소문자로 출력
print(appendMem.lower())

Tony
TONY
tony

# 문제 3

In [22]:
def odd_or_even(student_num):
    if (student_num)%2 == 0:
        return "당신의 학번은 짝수입니다."
    else:
        return "당신의 학번은 홀수입니다."
    
# 3) 본인의 학번 입력 후 짝수인지 홀수인지 확인
odd_or_even(20193017)

'당신의 학번은 홀수입니다.'

# 문제 4

In [23]:
a = [3, 5, 1, 2, 4]
b = (3, 5, 1, 2, 4)

# 4-1) 위 data 에서 a를 오름차순으로 정렬하고 출력
a.sort()
print(a)

# 4-2) 위 data에서 b를 오름차순으로 정렬하면 오류가 발생한다. 오류가 발생하는 이유를 설명하시오.
# b.sort()
print("b의 데이터 저장 방식은 'Tuple'입니다. tuple은 a의 데이터 저장 방식인 list와 달리 값을 변화시킬 수 없는 immutable의 속성을 가지므로 정렬을 하여 원소의 저장 순서를 바꾸는 것 역시 불가능합니다. 따라서 tuple형태의 b 데이터를 정렬하면 오류가 발생합니다.")

[1, 2, 3, 4, 5]
b의 데이터 저장 방식은 'Tuple'입니다. tuple은 a의 데이터 저장 방식인 list와 달리 값을 변화시킬 수 없는 immutable의 속성을 가지므로 정렬을 하여 원소의 저장 순서를 바꾸는 것 역시 불가능합니다. 따라서 tuple형태의 b 데이터를 정렬하면 오류가 발생합니다.